*
!package.json
!pnpm-lock.yaml
!src/**
!bin/**
!docker/**
!templates/**
!skills/**
!test/**
!tsconfig.json
!scripts/smoke.ts
!README.md
!AGENTS.md
!ez-plugin.json
!LICENSE
!SECURITY.md
!docs/**

!THIRD_PARTY_NOTICES.md
!CONTRIBUTING.md
!CHANGELOG.md
!scripts/release-check.mjs
!default-plugins.json
!LICENSE-MIT
